@font-face {
    font-family: 'KiwiMaru';
    src: url('../fonts/KiwiMaru-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'SourceCodePro';
    src: url('../fonts/SourceCodePro-Regular.ttf') format('truetype');
}
body {
    background: #FFFFFF;
    color: #333333;
    margin-left: 1%;
}
table , td, th {
    border: 1px solid #333333;
    border-collapse: collapse;
}
td, th {
    padding: 3px;
}
#contents {
    margin: 0 auto;
    padding: 0 1%;
    width: 500px;
}
#history {
    margin: 0 auto;
    width: 80%;
}
.KiwiMaru {
    font-family: 'KiwiMaru';
}
.SourceCodePro {
    font-family: 'SourceCodePro';
}
.textCenter {
    text-align: center;
}
.drawHistory {
    float: left;
    width: 200px;
}